@import "tailwindcss";

@theme {
  --font-cv: "Times New Roman", Times, serif;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Light theme colors */
  --color-background: #ffffff;
  --color-text: #000000;
}

.dark {
  /* Dark theme colors */
  --color-background: #1f2937;
  --color-text: #f9fafb;
  color-scheme: dark;
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  body {
    background: white;
  }
}
